html
  position: relative
  min-height: 100%

body
  margin-bottom: 60px

footer
  background-color: darken(devclass-color, 60%)
  color: white
  position: absolute
  bottom: 0
  width: 100%
  height: 60px
  .container
    padding-top: 20px
