header
  background-color: darken(devclass-color, 30%)
  padding: 40px 0
  color: #fff
  a, a:visited
    color: #fff
    &:hover
      color: devclass-color
  .brand
    font-size: 24px
    font-weight: 900
  .nav >
    li > a
      font-size: 13px
      text-transform: uppercase
      font-weight: 700
      &:hover
        background: 0
        color: devclass-color
