@require "colors"

.courses
  background-color: devclass-color
  color: #fff
  padding: 50px 0
  h2
    text-align: center
    margin: 30px 0
  a
    font-weight: 900
    font-size: 18px
    color: white
    text-decoration: none

  .course
    margin: 30px 0
    img
      height: 80px
