@import "colors"

header
  background-color: darken(devclass-color, 30%)
  padding: 40px 0
  color: #fff
  a, a:visited
    color: #fff
    &:hover
      border: 0
  .brand
    font-size: 24px
    font-weight: 900
