@import "colors"

.hero
  background-color: devclass-color
  color: white
  padding-top: 50px
  padding-bottom: 50px
  text-align: center
  font-size: 18px
  font-weight: 300
  h1
    font-size: 48px
  .fa
    font-size: 70px
