@require "colors"

.instructors
  padding: 50px 0
  h2
    text-align: center
  .instructor
    text-align: center
    img
      height: 100px
    .bio
      margin: 0 50px
      font-size: 16px
      font-weight: 300
    .social
      font-size: 40px
      color: #000
      margin-right: 10px
      &:hover
        border: 0
        color: devclass-color
