@require "colors"

.instructors
  padding: 50px 0
  h2
    margin: 50px 0
    text-align: center
  .instructor
    text-align: center
    margin-bottom: 40px
    img
      height: 100px
    .bio
      max-width: 400px
      margin: 0 auto
      font-size: 16px
      font-weight: 300
    .social
      font-size: 40px
      color: #000
      margin-right: 10px
      &:hover
        border: 0
        color: devclass-color
.hero
  background-color: devclass-color
  color: white
  padding-top: 50px
  padding-bottom: 50px
  text-align: center
  font-size: 18px
  font-weight: 300
  h1
    font-size: 48px
  .fa
    font-size: 70px

.features
  .item
    margin: 60px 0
    text-align: center
    .fa
      font-size: 36px
    p
      font-size: 18px
      font-weight: 300

.courses
  background-color: devclass-color
  color: #fff
  padding: 50px 0
  h2
    text-align: center
    margin: 30px 0
  a
    font-weight: 900
    font-size: 18px
    color: white
    text-decoration: none

  .course
    img
      height: 80px
    .btn
      margin-top: 20px
      background-color: darken(devclass-color, 30%)
      font-weight: 300
      &:hover
        color: devclass-color
