<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>devclass | Tech courses in Los Angeles</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/admin/admin.css">
  <style>
    [ng-cloak] {
      display: none;
    }
  </style>
</head>
<body ng-cloak ng-app='admin' ng-controller='ApplicationCtrl'>
  <div ng-include="'header.html'"></div>
  <ng-view autoscroll="'true'"></ng-view>
  <div ng-include="'footer.html'"></div>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular-route.js"></script>
  <script src="/admin/app.js"></script>
  <script src="/admin/templates.js"></script>
</body>
</html>
