.course
  text-align: center
  margin-bottom: 20px
  h1, h2
    margin: 30px 0
  img
    height: 200px
  .hero
    padding: 50px 0
    background-color: devclass-color
    color: #fff
  .features
    padding: 50px 0
    .fa
      font-size: 30px
  > .structure
    padding: 50px 0
    background-color: devclass-color
    color: #fff
